body {
    text-align:center;
    background-color: black;
    color:black;
    font-size: 20px;
    font-family: futura, helvetica, arial, sans-serif;
    
}

strong { 
    font-size: 16px;
}

a { 
    font-size: 16px;
}


h1 {
    margin: 0;
    margin-bottom: 0px;
    position: relative;
    z-index: 100000;
    color: black;
}

.jupitar {
    position: absolute;
    left:8000px;
}

.ship{
    left:5000px;
    top:200px;
    position:absolute; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 40s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {left:100px;top:200px;
    }
    to {left:5000px;top:200px;}
}

/* Standard syntax */
@keyframes example {
    from {left:100px;top:200px;}
    to {left:5000px;top:200px;}
}

    
}


.pod {
    position: absolute;
    top: 240px;
    left: 5430px;
}

.pod:hover {
    position:absolute;
    left: 200px;
}
.earth {
    position: absolute;
    left:500px;
    top:300px;
}

p {
    top:3000px;
    position: relative;
    color:white;
    font-size: 150px;
    font-family: helvetica, arial, sans-serif;
    font-weight:bold;
}
.rock {
    width:10px;
    height:10px;
    position:absolute;
    border-radius:400px;
    background-color:grey;
    left:580px;
    top: 370px;
    transform: translateX(8000px);

    -webkit-animation: myOrbit 10s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 10s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 10s linear infinite; /* Opera 12+ */
            animation: myOrbit 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */

}


@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(350deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
