body {
    text-align:center;
    background-color: black;
    color:black;
    font-size: 20px;
    font-family: futura, helvetica, arial, sans-serif;
    
}

strong { 
    font-size: 16px;
}

a { 
    font-size: 16px;
}


h1 {
    margin: 0;
    margin-bottom: 0px;
    position: relative;
    z-index: 100000;
    color: black;
}

.jupitar {
    position: absolute;
    left:5000px;
}

.ship{
    left:4600px;
    top:200px;
    position:absolute; 
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation-name: theme;
    animation-duration: 50s;
    z-index:150;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes theme {
    from {left:500px;top:200px;
    }
    to {left:4600px;top:200px;}
}

/* Standard syntax */
@keyframes theme {
    from {left:100px;top:200px;}
    to {left:4600px;top:200px;}
}

.gradient { 
    position:absolute;
    top:210px;
    left:140px;
    width:500px;
    height:120px;
    z-index:3;
    background-color:black;
    
}


p {
    top:3000px;
    position: relative;
    color:white;
    font-size: 150px;
    font-family: helvetica, arial, sans-serif;
    font-weight:bold;
}

.mono {
    width:12px;
    height:30px;
    position:absolute;
    background-color:black;
    left:5000px;
    top: 370px;
    transform: translateX(8000px);
    z-index:100;

    -webkit-animation: orbit 10s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: orbit 10s linear infinite; /* Firefox 5-15 */
         -o-animation: orbit 10s linear infinite; /* Opera 12+ */
            animation: orbit 20s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */

}


@-webkit-keyframes orbit {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(340deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes orbit {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes orbit {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(150px) rotate(-360deg); }
}

.pod {
    top:240px;
    left:500px;
    position:absolute;
    z-index:2;
    -webkit-animation-name: pod; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 46s; /* Chrome, Safari, Opera */
    animation-name: pod;
    animation-duration: 15s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pod {
    from {left:650px;top:240px;
    }
    to {left:500px;top:240px;}
}

/* Standard syntax */
@keyframes pod {
    from {left:650px;top:240px;}
    to {left:500px;top:240px;}
}


.mono {
    width:12px;
    height:30px;
    position:absolute;
    background-color:black;
    left:8000px;
    top: 370px;
    transform: translateX(8000px);
    z-index:200;

    -webkit-animation: orbit 10s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: orbit 10s linear infinite; /* Firefox 5-15 */
         -o-animation: orbit 10s linear infinite; /* Opera 12+ */
            animation: orbit 20s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */

}


@-webkit-keyframes orbit {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(340deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes orbit {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes orbit {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(150px) rotate(-360deg); }
}