body {
    background-color: white;
    color:black;
    font-size: 20px;
    font-family: futura, helvetica, arial, sans-serif;
    
}

.box {
    width:400px;
    height:400px;
    position:absolute;
    top:200px;
    left:60px;
    border-radius:400px;
    background-color:red;
}